# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep

# Coverage
coverage/

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db 